POSTGRES_USER=admin
POSTGRES_PASSWORD=
POSTGRES_DB=kafka_test
POSTGRES_PORT=5432
KAFKA_NODE_IP=0.0.0.0
KAFKA_NODE_INTERNAL_PORT=9092
KAFKA_NODE_EXTERNAL_PORT=19092
REDPANDA_CONSOLE_PORT_EXTERNAL=8081
REDPANDA_CONSOLE_PORT_INTERNAL=8080